*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}  

.img-fluid{
    width:350px;
    height:350px;
 }

 .d-inline-block {
    width:30px;
    height:30px;
 }